language: android
android:
  components:
    - platform-tools
    - tools
    - android-24
    - build-tools-24.0.0

    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
