<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.z299studio.pb"
    android:versionCode="250"
    android:versionName="2.5.0" >

    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppLight.LightblueCyan" >
        <activity android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TourActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTourTheme"/>
        <activity android:name=".MainActivity"
            android:label="@string/app_name"/>
        <activity android:name=".Settings"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity"/>

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
